.gallery {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.xbutton-container {
	display: flex;
	justify-content: flex-end;
}

.xbutton {
	margin-right: 50px;
	margin-top: 27px;
	height: 30px;
	width: 30px;
}

.prevnext-container {
	display: flex;
	justify-content: space-between;
}

.prevnext-image {
	width: 25px;
	height: 25px;
	margin:30px;
	margin-top: 250px;
}

.main-image {
  	width: auto;
  	height: 600px;
}

.details-container {
	display: flex;
	justify-content: center;
	
}

.details {
	width: 975px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.carrousel-container {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}



.carrousel {
	width: 975px;
	display:flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;

}


.carrousel-photo {
	filter: brightness(50%);
	width:100px;
	height:67px;
	margin: 5px;

}

.carrousel-photo:hover {
	filter: brightness(100%);
}

.carrousel-photo-selected {
	width:100px;
	height:67px;
	margin: 5px;

}

.first-photo-holder {
	width: 50px;
	visibility: hidden;
	overflow: show;
}

.last-photo-holder {
	width: 50px;
	overflow: hidden;
}

.triangle-symbol {
	width: 7px;
	height: 7px;
}
